@model Tourism_Website.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign Up";
}
<div class="container mt-5" style="max-width: 500px;">
    <div class="card shadow-sm p-4">
        <h2 class="text-center mb-4" style="color:#8e4433;">Sign Up</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="mb-3">
                @Html.LabelFor(m => m.FullName)
                @Html.EditorFor(m => m.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Role)
                @Html.DropDownListFor(m => m.Role,
                    new SelectList(new[] { "Tourist", "Agency", "Guide" }),
                    "Select Role",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Role, "", new { @class = "text-danger" })
            </div>
            <div class="text-center">
                <input type="submit" value="Sign Up" class="btn btn-success px-4 py-2" />
            </div>
            <div class="text-center mt-3">
                Already have an account? <a href="@Url.Action("Login", "Account")">Login here</a>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
