@model Tourism_Website.Models.Booking
@{
    ViewBag.Title = "Delete Booking";
}

<h2>Delete Booking</h2>
<h3>Are you sure you want to delete this booking?</h3>

<div>
    <h4>Booking Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <!-- Tour Title -->
        <dt>@Html.DisplayNameFor(model => model.Tour.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Tour.Title)</dd>

        <!-- Tourist Name -->
        <dt>@Html.DisplayNameFor(model => model.Tourist.FullName)</dt>
        <dd>@Html.DisplayFor(model => model.Tourist.FullName)</dd>

        <!-- Booking Date -->
        <dt>@Html.DisplayNameFor(model => model.BookingDate)</dt>
        <dd>@Html.DisplayFor(model => model.BookingDate)</dd>

        <!-- Number of People -->
        <dt>@Html.DisplayNameFor(model => model.NumberOfPeople)</dt>
        <dd>@Html.DisplayFor(model => model.NumberOfPeople)</dd>

        <!-- Total Price -->
        <dt>@Html.DisplayNameFor(model => model.TotalPrice)</dt>
        <dd>@Html.DisplayFor(model => model.TotalPrice)</dd>

        <!-- Status -->
        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>@Html.DisplayFor(model => model.Status)</dd>

        <!-- Special Requests -->
        <dt>@Html.DisplayNameFor(model => model.SpecialRequests)</dt>
        <dd>@Html.DisplayFor(model => model.SpecialRequests)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary ms-2" })
        </div>
    }
</div>
