@model Tourism_Website.Models.Booking
@{
    ViewBag.Title = "Booking Details";
}

<h2>Booking Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Tour.Title)</dt>
        <dd>@Html.DisplayFor(model => model.Tour.Title)</dd>

        <dt>@Html.DisplayNameFor(model => model.Tourist.FullName)</dt>
        <dd>@Html.DisplayFor(model => model.Tourist.FullName)</dd>

        <dt>@Html.DisplayNameFor(model => model.BookingDate)</dt>
        <dd>@Html.DisplayFor(model => model.BookingDate)</dd>

        <dt>@Html.DisplayNameFor(model => model.NumberOfPeople)</dt>
        <dd>@Html.DisplayFor(model => model.NumberOfPeople)</dd>

        <dt>@Html.DisplayNameFor(model => model.TotalPrice)</dt>
        <dd>@String.Format("{0:C}", Model.TotalPrice)</dd>

        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>@Html.DisplayFor(model => model.Status)</dd>

        <dt>@Html.DisplayNameFor(model => model.SpecialRequests)</dt>
        <dd>@Html.DisplayFor(model => model.SpecialRequests)</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary me-2" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>
